<!-- Titre et description de la page -->
<% for(var i=0; i < routes.length; i++) { %>
	<% if(routes[i].path == req.path) { %>
		<title>
			<%= routes[i].titre %> - <%= config.app_name %>
		</title>
		<meta name="description" content="<%= routes[i].description %> <%= config.description %>">
		<meta name="keywords" content="<%= routes[i].description %> <%= config.keywords %>">
	<% } %>
<% } %>

<!-- Meta-données de la page -->
<meta charset="<%= config.charset %>">
<meta name="author" content="<%= config.author %>">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

<!-- Feuilles de styles -->
<link rel="stylesheet" href="/semantic/semantic.min.css">
<link rel="stylesheet" href="/css/styles.css">